<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CohortSome!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-4.6.3/css/font-awesome.min.css') }}">
  </head>

  <body>
<br><br>
  <div class="container">
    <div class="row">
    <div class="header">
          <h1 class="display-4"><i class="fa fa-object-group" aria-hidden="true"></i> cohort-some</h1>
        </div>
        <hr/>
      <div class="col-md-6">
        <div class="input-group input-group">
              <span class="input-group-addon">token</span>
              <input type="text" class="form-control" placeholder="input sbg token" name="token" id="inputToken">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#tokenStatus" aria-expanded="false" aria-controls="tokenStatus" id="tokenBtn">invalid
                </button>
              </span>
        </div>
        <div class="collapse" id="tokenStatus">
            <div>
              <br>
              <p id="tokenDescription">
                This is a invalid CAVATICA token, please provide a correct one. You can find your authentication token from <a href='https://cavatica.sbgenomics.com/account/#developer'>Developer Dashboard</a>. See <a href='http://docs.cavatica.org/docs/the-api#section-authentication'>more details</a>.
              </p>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" disabled id="projectBtn">project list</button>
        <br>
        <table id="projects" class="display" width="100%"></table>
      </div>
      <div class="col-md-6">
        <table id="files" class="display" width="100%"></table>
      </div>
    </div>
  </div>
  </body>
</html>